

.device__btn {
  height: 160px;
  box-sizing: border-box;
  background: $white;
  border: 1px solid $border-grey;
  border-radius: 6px;
  width: 240px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $text-main;
  padding: 16px;
  display: flex;
  align-items: top;
  justify-content: space-between;
  position: relative;

  @media screen and (min-width: 767.98px) {
    width: 224px;
  }
  @media screen and (min-width: 1365.98px) {
    width: 240px;
  }

  &::after {
    content: "";
    height: 40px;
    width: 40px;
    background: url("../img/service/go.svg");
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}
