.footer{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-top: 1px solid $divider;
  text-align: center;
  color: $text-light;
  opacity: 0.72;
  padding: 16px;






  &__inner{
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media screen and (min-width: $screen-md) {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      gap:0
    }

  }
  &__copyright{
    @media screen and (min-width: $screen-md) {
      text-align: left;
      flex: 1 0 33%
    }

  }
  &__politic{
    @media screen and (min-width: $screen-md) {

      flex: 1 0 33%
    }
  }
  &__info{
    @media screen and (min-width: $screen-md) {
      text-align: right;
      flex: 1 0 33%
    }
  }


}


