$white: #fff;


$text-main: #1B1C21;
$text-light: #7E7E82;

$bg-main:#F8F8F8;

$border:#D9FFF5;
$border-grey: #EAEAEA;

$bullet-active: #B5B6BC;
$bullet:#DDDDDD;

$input-placeholder: #B5B6BC;

$red-main: #FF3E79;
$btn-hover: #ff3e789c;
$divider: #41F6D7;
$divider-grey: #EAEAEA;

$link-active: #B8FFEC;
$link-hover: #b8ffec57;
$link-hover-white: rgba(255, 255, 255, 0.45);

$screen-sm:                   319.98px;
$screen-md:                   767.98px;
$screen-lg:                   1365.98px;
$screen-xl:                   1439.98px;
