.swiper-pagination {
  bottom: 0px !important;
}

.swiper-wrapper{
  padding-bottom: 16px;
  height: auto;
}
.service .service-logo .swiper-pagination-bullet {
  margin: 0;
  height: 12px;
  width: 12px;
  background-color: #979797;
}
.service .service-logo .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 12px;
}
